body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #eeeeee;
}
h1 {
   margin: 10px 15px;
   font-size: 32px;
   font-family: 400;
   color: #404040;
}
/* HEADER */
.header {
   height: 150px;
}
.top {

   display: block;
   height: 35px;
   overflow: hidden;
   background-color: #fff;
}
.left {
   position: relative;
   float: left;
   left: 12%;
   padding: 7px 0px;
}
.left p{
   display: inline-block;
   padding: 0px 7px;
   text-decoration: none;
   color: #ef6c00;
}
.left a {
   text-decoration: none;
   color: #ef6c00;
}
.left a:hover {
   text-decoration: underline;
}
.right {
   position: relative;
   float: right;
   right: 12%;
   padding: 6px;
   overflow: hidden;
}
.right li{
   display: inline-block;
   padding: 5px;
   color: #ef6c00;
}
.right li:nth-child(1) {
   color: black;
}
.right li:nth-child(4) {
   color: black;
}
/* page name */
.page-name {
   height: 80px;
   background-color: #ef6c00;
}
.page-name img {
   position: relative;
   left: 12%;
   width: 343px;
   height: 60px;
   margin: 10px 0px;
}
.page-name p {
   margin: 30px 0px 0px 10px;
   padding: 9px;
   background-color: #1565c0;
   border: 1px solid black;
   border-radius: 7px ;
   font-size: 15px;
   font-weight: 600;
   color: white;
   
}
.page-name :nth-child(2) {
   position: relative;
   float: right;
   right: 12%;
}
.page-name :nth-child(3) {
   position: relative;
   float: right;
   right: 12%;
}
/* MENU */
.bar {
   display: block;
   height: 35px;
}
.bar ul {
   list-style-type: none;
   background-color:#424242 ;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
.bar-list {
   height: 35px;
}
.bar-list li {
   position: relative;
   float: left;
   left: 15%;
}
.bar-list a {
   display: block;
   padding: 10px 10px;
   text-decoration: none;
   color: white;
}
.bar-list a:hover {
   text-decoration: underline;
}
li.menu {
   position: relative;
   left: 45%;
}
.menu a {
   background-color: #e24700;
}
/* ARTICLE */
.article {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 20px ;
   margin-bottom: 20px;
}
.article p {
   margin: 16px 0px;
   font-size: 18px;
   line-height: 25px;
   color: #464646;
}
.article figcaption {
   font-size: 14px;
   color: #868686;
}
.article ul li { 
   margin: 0px 0px 10px 20px;
   color: #e24700;
}
.article a {
   text-decoration: none;
   color: #e24700;
}
.article a:hover {
   text-decoration: underline;
}
.one {
   width: 210px;
   background-color: white;
   border-bottom: 2px solid #e0e0e0;
}

.info {
   float: right;
   margin-right: 10%;
   margin-top: 150px;
   text-align: right;
}
.info :nth-child(1){
   font-weight: bold;
   color: #ed6d20;
}
.info p {
   line-height: 8px;
}
.info a{
   text-decoration: none;
   color: #ef6c00;
}
.info a:hover {
   text-decoration: underline;
}
.info img {
   width: 100px;
   border-radius: 50px;
}
.two {
   width: 670px;
   background-color: white;
   border-right: 2px solid #e0e0e0;
   border-bottom: 2px solid #e0e0e0;
}
.two img {
   width: 650px;
}
.two h1 {
   margin: 20px 0px;
   font-size: 2em;
   font-weight: 500;
   line-height: 1.2;
}
.two p {
   margin-right: 15px;
}
.advertising {
   padding: 20px;
   background-color: #eeeeee;
   border-top: 2px solid #ed6d20;
   margin: 10px 15px 15px 0px;
}
.yellow {
   background-color: #ffe500;
}
.three {
   display: flex;
   flex-direction: column;
   width: 300px;
   background-color: transparent;
   margin-left: 20px;
}
#noticeboard-title {
   font-size: 30px;
   font-weight: bold;
   color: #ed6d20;
}
p#noticeboard-title {
   border-bottom: 1px solid #c9c9c9;
}
.noticeboard-links a {
   text-decoration: none;
   color: grey;
}
.noticeboard-links a:hover {
   text-decoration: underline;
   color: #ef6c00;
}
#button {
   padding: 10px 50px;
   background-color: #ed6d20;
   border-radius: 5px;
   font-size: 20px;
   border: none;
   color: white;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#button:hover {
   background-color: #C55B19;
   color: white;
 }