* {
   font-family: 'Times New Roman', Times, serif;
   background-color: #eeeeee;
}
h1 {
   color: #404040;
   margin: 10px 15px;
   font-size: 32px;
   font-family: 400;
}



/* HEADER */

.header {
height: 150px;
}
.top {

   background-color: #fff;
   display: block;
   height: 35px;
   overflow: hidden;
}
.left {
   position: relative;
   float: left;
   left: 12%;
   padding: 7px 0px;
}
.left p{
   color: #ef6c00;
   display: inline-block;
   padding: 0px 7px;
   text-decoration: none;
}

.left a {
   color: #ef6c00;
   text-decoration: none;
}
.left a:hover {
   text-decoration: underline;
}
.right {
   position: relative;
   right: 12%;
   float: right;
   padding: 6px;
   overflow: hidden;
}
.right ul{
   display: flex;  /*va o no va?*/
   justify-content: space-between;
   left: 30%;
}
.right li{
   color: #ef6c00;
   display: inline-block;
   padding: 5px;
}
.right li:nth-child(1) {
   color: black;
}
.right li:nth-child(4) {
   color: black;
}

/* page name */
.page-name {
   height: 80px;
   background-color: #ef6c00;
}

.page-name img {
   position: relative;
   left: 12%;
   width: 343px;
   height: 60px;
   margin: 10px 0px;
}
.page-name p {
   background-color: blue;
   margin: 30px 0px 0px 10px;
   padding: 9px;
   border: 1px solid black;
   border-radius: 7px ;
   font-size: 15px;
   font-weight: 600;
   color: white;
   
}
.page-name :nth-child(2) {
   position: relative;
   right: 12%;
   float: right;
}

.page-name :nth-child(3) {
   position: relative;
   right: 12%;
   float: right;
}
/* MENU */
.bar {
   display: block;
   height: 35px;
}
.bar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color:#424242 ;
}
.bar-list {
   height: 35px;
}
.bar-list li{
   position: relative;
   left: 15%;
   float: left;
}
.bar-list a {
   
   display: block;
   padding: 10px 10px;
   color: white;
   text-decoration: none
}
.bar-list a:hover {
   text-decoration: underline;
}
li.menu {
   position: relative;
   left: 45%;
   /* float: right; */
}
.menu a {
   
   background-color: #e24700;
}
/* ARTICLE */

.article p {
   color: #464646;
   font-size: 16px;
   margin: 16px 0px;
   line-height: 25px;
}
.article figcaption {
   font-size: 14px;
   color: #868686;
}
.article {
   margin-top: 20px ;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.one {
   width: 210px;
   background-color: white;
}

.two {
   width: 670px;
   /*border-style: solid;
   border-left-width: 2px;
   border-left: violet;*/
   background-color: white;
}
.two img {
   width: 650px;
}
.two h1 {
   margin: 20px 0px;
   font-size: 2em;
   font-weight: 500;
   line-height: 1.2;
}
.advertising {
   /* display: flex; */
   padding: 20px;
   margin-right: 15px;
   border-top: 2px solid #ed6d20;
   /*border-style: solid;
   border-width: 5px;
   border-color: #e24700;*/
   background-color: #eeeeee;
}
.yellow {
   background-color: #ffe500;
}
.three {
   display: flex;
   flex-direction: column;
   margin-left: 20px;
   width: 300px;
   background-color: red;
}
 